<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAtMqEb5dT2OaplhU-F0eWG7vpNpzvWe_A</string>
	<key>GCM_SENDER_ID</key>
	<string>801126313330</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sd.POC</string>
	<key>PROJECT_ID</key>
	<string>food-sample-app-9e719</string>
	<key>STORAGE_BUCKET</key>
	<string>food-sample-app-9e719.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:801126313330:ios:b560ed8c50533e236f41eb</string>
</dict>
</plist>